<%- include("partials/header") -%>

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <a class="navbar-brand" href="/previousOrder">Previous orders</a>
      <a class="navbar-brand" href="/newOrder">New order </a>  
    </form>
  </nav>


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Red </th>
                    <th scope="col">Orange</th>
                    <th scope="col">Yellow</th>
                    <th scope="col">Blue</th>
                    <th scope="col">purple</th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Green</th>
                </tr>
                </thead>
                <tbody>
                    <% const ord = prevOrders[0].orders %>
                    <% console.log(ord); %>
                    <% console.log("llllllll"); %>
                    <% ord.forEach(function(order, index){%>
                     
                        <tr>
                            <th scope="row">1</th>
                            <td> <%= order.redQnt  %> </td>
                            <td><%= order.redQnt  %></td>
                            <td><%= order.yellowQnt  %></td>
                          <td>  <%= order.blueQnt  %></td>
                          <td>  <%= order.purpleQnt  %></td>
                          <td>  <%= order.blackQnt  %></td>
                          <td>  <%= order.whiteQnt  %></td>
                          <td>  <%= order.greenQntQnt  %></td>
                          </tr>
               
                    <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>


<%- include("partials/footer") -%>