<%- include("partials/header") -%>

<nav style="background-color: grey;" class="navbar navbar-dark  justify-content-between">
  <a href="" class="navbar-brand">BioWasteTransit</a>
  <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/null/external-clean-wash-hands-flatart-icons-outline-flatarticons.png"/>

  <form class="form-inline">
    <a class="navbar-brand" href="/logout"><img src="https://img.icons8.com/color-glass/48/000000/power-off-button.png"/></a> 
  </form>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Red </th>
                    <th scope="col">Orange</th>
                    <th scope="col">Yellow</th>
                    <th scope="col">Blue</th>
                    <th scope="col">purple</th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Green</th>
                </tr>
                </thead>
                <tbody>
                    <% const ord = prevOrders[0].orders %>
                    <% console.log(ord); %>
                    <% console.log("llllllll"); %>
                    <% ord.forEach(function(order, index){%>
                     
                        <tr>
                            <th scope="row">1</th>
                            <td> <%= order.redQnt  %> </td>
                            <td><%= order.redQnt  %></td>
                            <td><%= order.yellowQnt  %></td>
                          <td>  <%= order.blueQnt  %></td>
                          <td>  <%= order.purpleQnt  %></td>
                          <td>  <%= order.blackQnt  %></td>
                          <td>  <%= order.whiteQnt  %></td>
                          <td>  <%= order.greenQntQnt  %></td>
                          </tr>
               
                    <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>


<%- include("partials/footer") -%>